html {
	height: 100%
	}

body {
	height: 100%;	
	margin: 0;
	padding: 0
}

li {
	display: inline;
}

li img{
	width: 20px;
	height: 20px;
}

.navbar {
	margin: 0;
	padding-left: 20px;
	background-color: #333;
	border-bottom: thin solid #333;
}

.small-space{
	margin: 5px;
}

.flood {
	max-width: 150px; 
	height: auto
}

#searchRoute {
    border: 1px solid #333;
    background: #F2F1ED;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

#searchRoute:hover {
    border: 1px solid #aaa;
    background: #efefef;
}

#map-canvas {
	position: absolute;
	width: 100%;
	top: 34px;
	bottom: 0;
}

#start, #end {
    background-color: #fff;
	width: 200px;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 300;
	color: 333;
}

#start:focus. #end:focus {
	border-color: #333;
}

#rightSide {
	float: right;
}

@media screen and (max-width: 550px) {
	.elements {
		display: block;
		width: 100%;
	}
	
	.navbar {
		padding: 0;
	}
	
	.small-space{
		display:none;
	}
	
	#map-canvas {
		position: absolute;
		width: 100%;
		top: 95px;
		bottom: 0;
	}
	#searchRoute {
		width: 100%;
	}
	
	#start, #end {
		width:100%;
	}
	
	li img{
		display:none;
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	li img{
		display:none;
	}
	
	.elements {
		display: block;
		width: 100%;
	}
	
	.navbar {
		padding: 0;
	}
	.small-space{
		margin: 5px;
		display:inline;
	}
	
	#map-canvas {
		position: absolute;
		width: 100%;
		top: 267px;
		bottom: 0;
	}
	
	#searchRoute {
		width: 100%;
		font-size: 50px;
	}
	
	#start, #end {
		font-size: 50px;
		width:100%;
	}
}

